/* 将所有标签的内外边距清零 */
* {
    margin: 0;
    padding: 0;
    /* CSS3 盒子模型 */
    box-sizing: border-box;
}

/* em 和 i 斜体的文字不倾斜 */
em,
i {
    font-style: normal
}

/* 去掉 li 标签左侧默认的小圆点 */
li {
    list-style: none
}

img {
    /* border 0 是为了照顾低版本浏览器，如果图片外面包含了链接会有边框的问题 */
    border: 0;
    /* 取消图片底侧有空白缝隙的问题 ，让图片与文字居中对齐*/
    vertical-align: middle
}

button {
    /* 当鼠标经过button 标签按钮的时候，鼠标变成小手，代表可以点击 */
    cursor: pointer
}

body {
    /* CSS3的属性，用来抗锯齿，让文字显示的更加清晰 */
    -webkit-font-smoothing: antialiased;
}

/* 使用伪元素来清除浮动1 */
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

/* 使用伪元素来清除浮动2 */
.clearfix {
    *zoom: 1
}