/* 声明字体图标 */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?7162uh');
    src: url('../fonts/icomoon.eot?7162uh#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?7162uh') format('truetype'),
        url('../fonts/icomoon.woff?7162uh') format('woff'),
        url('../fonts/icomoon.svg?7162uh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "iconfont";
    /* Project id 4078183 */
    src: url('../font_1/iconfont.woff2?t=1684581808898') format('woff2'),
        url('../font_1/iconfont.woff?t=1684581808898') format('woff'),
        url('../font_1/iconfont.ttf?t=1684581808898') format('truetype');
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style_red {
    color: #c81623;
}

/* 快捷导航模块 */
.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}

.shortcut ul li {
    position: relative;
    float: left;
}

.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 14px 0 14px;
}

.shortcut .arrow-icon {
    margin-right: 10px;
}

.shortcut .arrow-icon::after {
    content: '\e900';
    font-family: 'icomoon';
    position: absolute;
    font-size: 12px;
    top: 1px;
    margin-left: 2px;
}

/* header 头部模块 */
.header {
    position: relative;
    height: 105px;
}

.logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
}

.logo a {
    display: block;
    width: 171px;
    height: 61px;
    background: url(../image/logo.png) no-repeat;
    font-size: 0;
}

.search {
    position: absolute;
    top: 25px;
    left: 346px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.search input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
}

.search button {
    float: left;
    width: 80px;
    height: 33px;
    background-color: #b1191a;
    font-size: 16px;
    color: #fff;
}

.hotwords {
    position: absolute;
    top: 66px;
    left: 346px;
}

.hotwords a {
    margin: 0 10px;
}

.shopcar {
    position: absolute;
    top: 25px;
    right: 60px;
    width: 140px;
    height: 35px;
    padding-left: 8px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;

}

.shopcar .iconfont {
    position: absolute;
    content: '';
    font-family: 'iconfont' !important;
    font-size: 15px;
    left: 20px;
    color: #b1191a;
}

.shopcar::after {
    position: absolute;
    content: '\e902';
    font-family: 'icomoon';
    font-size: 15px;
    margin-left: 10px;
}

.shopcar .count {
    position: absolute;
    top: -5px;
    left: 100px;
    height: 18px;
    line-height: 18px;
    color: white;
    background-color: #e60012;
    padding: 0 5px;
    border-radius: 15px 15px 15px 15px;
}

/* nav 模块制作 */
.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
}

.nav .dropdown {
    float: left;
    width: 210px;
    height: 45px;
    background-color: #b1191a;
}

.nav .navitems {
    float: left;
}

.dropdown .dt {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
}

.dropdown .dd {
    display: none;
    width: 210px;
    height: 468px;
    background-color: #c81623;
    padding-top: 2px;
}

.dropdown .dd ul li {
    position: relative;
    height: 31px;
    line-height: 31px;
    margin-left: 6px;
}

.dropdown .dd ul li::after {
    position: absolute;
    top: 1px;
    right: 10px;
    content: '\e902';
    font-family: 'icomoon';
    color: #fff;
    font-size: 14px;
}

.dropdown .dd ul li a {
    font-size: 14px;
    color: #fff;
}

.dropdown .dd ul li:hover {
    background-color: #fff;
    margin-left: 4px;
}

.dropdown .dd ul li:hover a {
    color: #c81623;
}

.dropdown .dd ul li:hover::after {
    content: '\e902';
    font-family: 'icomoon';
    color: #c81623;
}

.navitems ul li {
    float: left;
}

.navitems ul li a {
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    padding: 0 26px;
}

/* 底部模块制作 */
.footer {
    height: 415px;
    background-color: #f5f5f5;
    padding-top: 30px;
}

.mod_service {
    height: 80px;
    border-bottom: 1px solid #ccc;
}

.mod_service ul li {
    float: left;
    width: 240px;
    height: 50px;
    padding-left: 35px;
}

.mod_service ul li .image1 {
    float: left;
    width: 50px;
    height: 50px;
    background: url(../image/icons.png) no-repeat -252px -3px;
    padding-left: 8px;
    margin-right: 8px;
}

.mod_service ul li .image2 {
    float: left;
    width: 50px;
    height: 50px;
    background: url(../image/icons.png) no-repeat -255px -53px;
    padding-left: 8px;
    margin-right: 8px;
}

.mod_service ul li .image3 {
    float: left;
    width: 50px;
    height: 50px;
    background: url(../image/icons.png) no-repeat -257px -106px;
    padding-left: 8px;
    margin-right: 8px;
}

.mod_service ul li .image4 {
    float: left;
    width: 50px;
    height: 50px;
    background: url(../image/icons.png) no-repeat -257px -156px;
    padding-left: 8px;
    margin-right: 8px;
}

.mod_service ul li .image5 {
    float: left;
    width: 50px;
    height: 50px;
    background: url(../image/icons.png) no-repeat -256px -208px;
    padding-left: 8px;
    margin-right: 8px;
}


.service_txt h4 {
    margin-top: 3px;
    font-size: 14px;
}

.service_txt p {
    margin-top: 2px;
    font-size: 12px;
}

.mod_help {
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 50px;
}

.mod_help dl {
    float: left;
    width: 200px;
}

.mod_help dl:last-child {
    width: 90px;
    text-align: center;
}

.mod_help dl dt {
    font-size: 16px;
    margin-bottom: 10px;
}

.mod_copyright {
    position: relative;
}

.mod_copyright ul {
    position: absolute;
    top: 20px;
    left: 117px;
}

.mod_copyright ul li {
    float: left;
}

.mod_copyright ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 3px 14px 0 14px;
}

.mod_copyright ul li a {
    font-size: 12px;
}

.mod_copyright .copyright {
    position: absolute;
    text-align: center;
    top: 48px;
    left: 240px;
    line-height: 20px;
}