.main {
    width: 980px;
    height: 455px;
    margin-top: 10px;
    margin-left: 220px;
}

.main .focus {
    float: left;
    width: 721px;
    height: 455px;
}

.main .newsflash {
    float: right;
    width: 250px;
    height: 455px;
}

.main .newsflash .news {
    height: 165px;
    border: 1px solid #e4e4e4;
}

.news-head {
    height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    line-height: 33px;
    padding: 0 15px;
}

.news-head h5 {
    float: left;
    font-size: 14px;
}

.news-head .more {
    float: right;
}

.news-head .more::after {
    margin-left: 2px;
    font-family: 'icomoon';
    content: '\e902';
    vertical-align: middle;
}

.news-body {
    padding: 5px 15px 0;
}

.news-body ul li {
    height: 24px;
    line-height: 24px;
}

.main .newsflash .lifeservice {
    height: 209px;
    background-color: purple;
}

.main .newsflash .bargain {
    margin-top: 5px;
}